@model IEnumerable<ProyectoRestaurante.Models.ItemMenu>


    @{
        ViewData["Title"] = "Pedido";
    }

<div class="register">
    <div class="left">
        <div class="order-window">
            <table>
               
                <tbody>
                    <tr>
                        <td>#</td>
                        <td>Item</td>
                        <td>Price</td>
                        <td>GL</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Spaghetti</td>
                        <td>$9.50</td>
                        <td>EN</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
        <div class="order-total">
            <span>$38.00</span>
        </div>
        <div class="buttons">

            <button>
                <i class="fas fa-print"></i>
                Print
            </button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>
                <i class="fas fa-ban"></i>
                Void
            </button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>
                <i class="fa fa-times"></i>
                QTY
            </button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>
                <i class="fas fa-sign-out-alt"></i>
                Exit
            </button>
            <div></div>
            <button>0</button>
            <button>.00</button>
        </div>
    </div>
    <div class="right">
        <div class="categories">
            <ul>
                <li><a href="#">All Items</a></li>
                <li><a href="#">Beverages</a></li>
                <li><a href="#">Soup/Salad</a></li>
                <li><a href="#">Appetizers</a></li>
                <li><a href="#">Entrees</a></li>
                <li><a href="#">Desserts</a></li>
            </ul>
        </div>
        <div class="menu-items">
            @foreach (var item in Model) {
             <ul>
                    <li>
                        @Html.DisplayFor(modelItem => item.IdMenu),
                        @Html.DisplayFor(modelItem => item.Nombre),
                        @Html.DisplayFor(modelItem => item.Descripcion),
                        @Html.DisplayFor(modelItem => item.Imagen),
                        @Html.DisplayFor(modelItem => item.Precio)
                    </li>
                   
            </ul>
            }
           
        </div>
        <div class="categories">
            <ul>
                <li><a href="#">All Items</a></li>
                <li><a href="#">Beverages</a></li>
                <li><a href="#">Soup/Salad</a></li>
                <li><a href="#">Appetizers</a></li>
                <li><a href="#">Entrees</a></li>
                <li><a href="#">Desserts</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    // Example Menu

    var menu = [
        {
            item: "Spaghetti",
            price: 9.50,
            tax: true,
            shortname: "Spag",
            category: "entree",
            glCode: "EN10",
        },
    ]
</script>