@model IEnumerable<ProyectoRestaurante.Models.ItemMenu>


@{
    ViewData["Title"] = "Pedido";
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#contenido").load("/Pedido/Pedido");

        })
    </script>
 }

<div class="register">
    <div class="left">
        <div class="order-window">
            <div id="contenido"></div>
            
        </div>
        <div class="order-total">
            <span>$38.00</span>
        </div>
        @*<div class="buttons">

            <button>
                <i class="fas fa-print"></i>
                Print
            </button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>
                <i class="fas fa-ban"></i>
                Void
            </button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>
                <i class="fa fa-times"></i>
                QTY
            </button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>
                <i class="fas fa-sign-out-alt"></i>
                Exit
            </button>
            <div></div>
            <button>0</button>
            <button>.00</button>
        </div>*@
    </div>
    <div class="right">
        <div class="categories">
            <ul>
                <li><a href="#">Todo</a></li>
                <li><a href="#">Entrantes</a></li>
                <li><a href="#">Principal</a></li>
                <li><a href="#">Segundo</a></li>
                <li><a href="#">Bebibas</a></li>
                <li><a href="#">Postre</a></li>
            </ul>
        </div>
        <div class="menu-items">
            <ul>
                @foreach (var item in Model)
                {

                    <li>
                       <a asp-controller="Pedido"
                       asp-action="Create"
                       asp-route-IdMenu="@item.IdMenu"
                       asp-route-ItemsMenu="@item.Nombre"
                       asp-route-Total="@item.Precio">
                        <img width:"50px" height:"50px" src="@item.Imagen">
                       @item.Nombre - @item.Precio €
                        </a>
                    </li>

                }
            </ul>

        </div>
        <div class="categories">
            <ul>

                <li>
                    <a asp-controller="ItemMenu"
                       asp-action="ItemMenu">
                        Item Menu
                    </a>
                </li>
                <li>
                    <a asp-controller="Mesa"
                       asp-action="Mesa">
                        Mesa
                    </a>
                </li>
                <li>
                    <a asp-controller="Pedido"
                       asp-action="Pedido">
                        Pedido
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    // Example Menu

    var menu = [
        {
            item: "Spaghetti",
            price: 9.50,
            tax: true,
            shortname: "Spag",
            category: "entree",
            glCode: "EN10",
        },
    ]
</script>